<div id="<%= dom_id livro %>">
  <p>
    <strong>Título:</strong>
    <%= livro.title %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= livro.author %>
  </p>

  <p>
    <strong>Avaliação:</strong>
    <%= livro.rating %>
  </p>

  <p>
    <strong>Resenha:</strong>
    <%= livro.resenha %>
  </p>

</div>
